<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Java WebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>webapp.rating.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveStudent</display-name>
    <servlet-name>RemoveStudent</servlet-name>
    <servlet-class>webapp.rating.RemoveStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudent</servlet-name>
    <url-pattern>/RemoveStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudentData</display-name>
    <servlet-name>ViewStudentData</servlet-name>
    <servlet-class>webapp.rating.ViewStudentData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudentData</servlet-name>
    <url-pattern>/ViewStudentData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentWiseData</display-name>
    <servlet-name>StudentWiseData</servlet-name>
    <servlet-class>webapp.rating.StudentWiseData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentWiseData</servlet-name>
    <url-pattern>/StudentWiseData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectWiseData</display-name>
    <servlet-name>SubjectWiseData</servlet-name>
    <servlet-class>webapp.rating.SubjectWiseData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectWiseData</servlet-name>
    <url-pattern>/SubjectWiseData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRemoveCategory</display-name>
    <servlet-name>AddRemoveCategory</servlet-name>
    <servlet-class>webapp.rating.AddRemoveCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRemoveCategory</servlet-name>
    <url-pattern>/AddRemoveCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>webapp.rating.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addcategory</display-name>
    <servlet-name>Addcategory</servlet-name>
    <servlet-class>webapp.rating.Addcategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addcategory</servlet-name>
    <url-pattern>/Addcategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Removecategory</display-name>
    <servlet-name>Removecategory</servlet-name>
    <servlet-class>webapp.rating.Removecategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Removecategory</servlet-name>
    <url-pattern>/Removecategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAssignmentCategory</display-name>
    <servlet-name>ViewAssignmentCategory</servlet-name>
    <servlet-class>webapp.rating.ViewAssignmentCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAssignmentCategory</servlet-name>
    <url-pattern>/ViewAssignmentCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateData</display-name>
    <servlet-name>UpdateData</servlet-name>
    <servlet-class>webapp.rating.UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateData</servlet-name>
    <url-pattern>/UpdateData</url-pattern>
  </servlet-mapping>
</web-app>